<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Testing</title>
    <link rel="icon" href="../Icons/blood-drop.png">
    <link rel="stylesheet" href="styles/asghar.css">
</head>

<body>
    <header class="header">
            <div class="container mx-auto flex justify-between items-center">
                <a href="/asghar" class="header-logo">💉 BloodCare</a>
                <div class="header-nav">
                    <a href="/about">About</a>
                    <a href="/Appointment">Appointments</a>
                    <a href="/Inventory">Blood Bank</a>
                    <a href="/contact">Contact</a>
                </div>
            </div>
        </header>

    <section class="registration">
        <div class="container">
            <h1>Blood Test Scheduling</h1>
            <form class="registration-form" action="/register-bloodTesting" method="post">
                <label for="full_name">Full Name:</label>
                <input type="text" id="full_name" name="full_name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="phone_number">Phone Number:</label>
                <input type="tel" id="phone_number" name="phone_number" required>

                <label for="appointment_date">Preferred Appointment Date:</label>
                <input type="date" id="appointment_date" name="appointment_date" required>

                <label for="test_type">Type of Blood Test:</label>
                <select id="test_type" name="test_type">
                    <option value="CBC">Complete Blood Count (CBC)</option>
                    <option value="BMP">Basic Metabolic Panel (BMP)</option>
                    <option value="Lipid Panel">Lipid Panel</option>
                    <option value="Other">Other (Specify below)</option>
                </select>

                <label for="comments">Additional Comments (if any):</label>
                <textarea id="comments" name="comments" rows="4" cols="50"></textarea>

                <label for="additional_info">Additional Information (optional):</label>
                <textarea id="additional_info" name="additional_info" rows="4" cols="50"></textarea>

                <div class="form-group">
                    <button type="submit" class="submit-button">Submit</button>
                </div>
            </form>
        </div>
    </section>

    <!-- <p>Once you submit your appointment request, our team will contact you to confirm the date and time of your blood
        testing appointment.</p> -->
        <footer class="footer">
            <div class="container">
                &copy; 2023 BloodCare. All rights reserved.
            </div>
        </footer>
</body>

</html>