<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Transfusion Service</title>
    <link rel="icon" href="../Icons/blood-drop.png">
    <link rel="stylesheet" href="styles/serviceStyles.css">
</head>


<body>
    <header class="header">
        <div class="container">
            <a href="/asghar" class="header-logo">💉 BloodCare</a>
            <nav class="header-nav">
                <a href="/about">About</a>
                <a href="/Appointment">Appointments</a>
                <a href="/Inventory">Blood Bank</a>
                <a href="/contact">Contact</a>
            </nav>
        </div>
    </header>

    <div class="container">
        <h2>What is Blood Transfusion?</h2>
        <p>
            Blood transfusion is a medical procedure in which donated blood or blood components are administered to a
            patient. It is often done to replace lost blood due to surgery, injury, or medical conditions that affect
            blood
            production or function.
        </p>

        <h2>Our Blood Transfusion Services</h2>
        <p>
            At BloodCare, we are dedicated to providing safe and reliable blood transfusion services. Our team of
            medical
            professionals ensures that each transfusion is carried out with the utmost care and attention to detail. We
            work
            closely with hospitals and healthcare providers to meet the transfusion needs of patients.
        </p>


        <h2>Why Choose BloodCare for Blood Transfusion?</h2>
        <p>
            - Highly trained and experienced medical staff<br>
            - Strict adherence to safety protocols<br>
            - State-of-the-art facilities and equipment<br>
            - Timely and efficient service<br>
            - 24/7 availability for emergencies
        </p>


        <!-- Registration Button (Linking to the donor registration form HTML file) -->
        <a href="/Customer" class="registration-button">Register Now</a>


        <h2>Contact Us</h2>
        <p>If you have questions or need to schedule a blood transfusion, please don't hesitate to reach out to us:</p>
    </div>

    
    <footer class="footer">
        <div class="container">
            &copy; 2023 BloodCare. All rights reserved.
        </div>
    
   </footer>
</body>

</html>